.main {
  margin: 100px;
  margin-bottom: 900px;
  display: flex;
  height: 600px;
  width: 700px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 15px;
}

.container {
  align-self: center;
  height: 500px;
  width: 500px;
  margin-top: 20px;
}

.tble {
  box-sizing: border-box;
  border: 1px solid rgb(47, 38, 38);
  border-radius: 30px;
}

.btn {
  width: 60px;
  height: 30px;
  display: flex;
}

.quote {
  width: 100px;
  align-self: center;
}
.option {
  flex-direction: row;
  align-self: center;
  justify-self: center;

  text-decoration: none;
  color: rgb(213, 237, 237);
}

.option:hover {
  text-decoration: dashed;
}

.image {
  width: 50px;
  height: 30px;
}

.cont {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
}
input,
button {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #d2c3c3;
  border-radius: 6px;
}
button {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
}
button:hover {
  background-color: #0056b3;
}
